form {
    display: grid;
    gap: 4rem;

    fieldset {
        border: none;
        display: grid;
        gap: 1.5rem;

        .input-wrapper:has([disabled]) {
            pointer-events: none;
            opacity: 0.5;

            input {
                background: var(--surface-disabled);
                border: 1px solid var(--stroke-default);
                color: var(--text-primary);
            }
        }

        input, textarea, select {
            appearance: none;
            width: 100%;
            border-radius: 0.5rem;
            border: 1px solid var(--stroke-default);
            padding: 0.75rem 1rem;

            &:focus-within {
                outline: 0.25rem solid var(--surface-secondary);
                border: 0.125rem solid var(--stroke-highlight);
                outline-offset: 0.1px;
            }
        }

        textarea {
            resize: vertical;

            min-height: 7.5rem;
            max-height: 15rem;
            overflow: auto;
        }

        input[type="date"] {
            position: relative;
            &::-webkit-calendar-picker-indicator {
                opacity: 0;
            }
            &::before {
                content: "";	
                background: url("../assets/icons/calendar-icon.svg") center/contain;
                position: absolute;
                right: 1rem;
                top: 50%;
                transform: translateY(-50%);
                width: 1.25rem;
                height: 1.25rem;
            }
        }

        .dropzone {
            border: 1px dashed var(--stroke-default);
            border-radius: 0.25rem;
            display: grid;
            justify-items: center;
            text-align: center;
            gap: 0.5rem;
            padding: 1.75rem 1rem;
            position: relative;

            & input {
                opacity: 0;
                position: absolute;
                width: 100%;
                height: 100%;
                inset: 0;
            }

            & p {
                color: #A8A29E;
            }

            &:hover, &:has(input:focus) {
                background: var(--surface-secondary );
                border-width: 2px;
                border-color: var(--stroke-highlight);

                & p {
                    color: var(--text-tertiary);
                }

                & svg path {
                    stroke: var(--stroke-highlight);
                }
            }
        }
         
        select {
            background: url("../assets/icons/arrow-down-icon.svg") no-repeat calc(100% - 1rem);
        }

        label {
            display: block;
            margin-bottom: 0.25rem;
        }

        legend {
            margin-bottom: 1.5rem;
        }
    }
}