* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

:root {
    --text-primary: #292524;
    --text-secondary: #57534E;
    --text-tertiary: #8F8881;
    --text-highlight: #E43A12;
    --surface-primary: #FFFFFF;
    --surface-secondary: #FEE7D6;
    --stroke-default: #D6D3D1;
    --stroke-highlight: #F3541C;
    --sematic-error: #DC2626;

    --font-family: "Poppins", sans-serif;
    --title-lg: 600 2.5rem/1.25 var(--font-family);
    --title-md: 600 1.5rem/1.25 var(--font-family);
    --title-sm: 600 1rem/1.25 var(--font-family);
    --text-md: 400 1rem/1.5 var(--font-family);
    --text-sm: 400 0.875rem/1.4 var(--font-family);
}

body {
    font: var(--text-md);
    color: var(--text-color-secondary);
    background-color: var(--background-color);
    display: grid;
    grid-template-columns: 51.25% 48.75%;
    max-width: 100vw;
    height: 100vh;
    overflow: hidden; 
}

h1, h2, h3 {
    color: var(--text-primary);
}

h1 {
    font: var(--title-lg);
}

h2 {
    font: var(--title-md);
}

h3 {
    font: var(--title-sm);
}