main {
    padding: 4rem;
    overflow-y: auto;
    
    .main-container {
        max-width: 33rem;
        margin-left: auto;
        gap: 3rem;

        header {
            gap: 1.5rem;

            &>div {
                gap: 0.5rem;
            }
        }
    }
}
/* teste */